.DS_Store
.Rproj.user
**/*.asv
stats/ProcSpectralQuality/.R*
stats/ProcSpectralQuality/cheatsheets
stats/ProcSpectralQuality/lme_example
stats/ProcSpectralQuality/scripts/.R*
.Rproj.user
*.mat
*.png
*.fig
*.csv

