.DS_Store
.Rproj.user
**/*.asv
stats/ProcSpectralQuality/.R*
stats/ProcSpectralQuality/cheatsheets
stats/ProcSpectralQuality/lme_example
stats/ProcSpectralQuality/scripts/.R*
*.mat
*.png
*.fig
*.csv
stats/ProcSpectralQuality/data/derivatives/**/*.csv
stats/ProcSpectralQuality/data/derivatives/**/*.png
stats/ProcSpectralQuality/data/derivatives/**/*.pdf
stats/ProcSpectralQuality/data/derivatives/**/*.docx
stats/ProcSpectralQuality/data/derivatives/plots/amcharts_pies/
*.pdf
*.svg
*.xlsx
